html {
  scroll-behavior: smooth;
}

body {
  font-family: Helvetica;
  background-color: #fefefe;
}

.topnav {
  background-color: #333;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}

.topnav a:hover {
  cursor: pointer;
  background-color: #ddd;
  color: black;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #333;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  box-shadow: 2px 0px 5px #333;
}

.sidenav.open {
  width: 250px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #f2f2f2;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  cursor: pointer;
  color: #f1f1f1;
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("{{.Site.BaseURL}}img/header.jpg");
  height: 350px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  box-shadow: 2px 0px 5px #333;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 2px 2px 2px #333;
}

.hero-text h1 {
  font-size: 4em;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1 1 0%;
}

@media (max-width: 767.98px) {
  .flex {
    display: block;
  }
}

.home-section {
  padding: 2em;
}

.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}
.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}
.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.no-underline {
  text-decoration: none;
}

.box-border {
  box-sizing: border-box;
}
.box-content {
  box-sizing: content-box;
}

.p-2 {
  padding: 0.5rem;
}
.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.p-4 {
  padding: 1rem;
}
.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.p-6 {
  padding: 1.5rem;
}
.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.p-10 {
  padding: 2.5rem;
}
.px-10 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
.py-10 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
.p-12 {
  padding: 3rem;
}
.px-12 {
  padding-left: 3rem;
  padding-right: 3rem;
}
.py-12 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.p-48 {
  padding: 12rem;
}
.px-48 {
  padding-left: 12rem;
  padding-right: 12rem;
}
.py-48 {
  padding-top: 12rem;
  padding-bottom: 12rem;
}

.w-full {
  width: 100%;
}

.rounded {
  border-radius: 0.25rem;
}
.rounded-md {
  border-radius: 0.325rem;
}
.rounded-lg {
  border-radius: 0.5rem;
}

.shadow-md {
 --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
 box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.btn {
/* <button class="py-2 px-4 bg-green-500 text-white font-semibold rounded-lg shadow-md hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-400 focus:ring-opacity-75"> */
  border-radius: 0.5rem;
  background-color: rgba(0,123,191,1.0000000000);
  text-decoration: none;
  color: #fff;
  /* shadow-md */
 --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
 box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.btn:hover {
  background-color: rgba(0,104,162,1.0000000000);
}

.btn-normal {
  background-color: rgba(0,123,191,1.0000000000);
  color: #fff;
  border: none;
  outline: none;
}

.btn-normal:hover {
  background-color: rgba(0,104,162,1.0000000000);
}

.card > img {
  max-width: 16rem;
}

@media (max-width: 767.98px) {
  .card:first{
    padding-top: 0;
  }
  .card > img {
    max-width: 24rem;
  }
}

.section-about {
  padding: 1rem 12rem;
}
.section-contact {
  padding: 1rem 12rem;
}

@media (max-width: 767.98px) {
  .section-about {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .section-contact {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }
}


.main > footer {
  color: white;
  background-color: #333;
  box-shadow: 2px 0px 5px #333;
}

.main footer a {
  color: white;
  text-decoration: none;
}
