@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  p {
    @apply my-4;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Helvetica;
  background-color: #fefefe;
}

.topnav {
  background-color: #333;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}

.topnav a:hover {
  cursor: pointer;
  background-color: #ddd;
  color: black;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #333;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  box-shadow: 2px 0px 5px #333;
}

.sidenav.open {
  width: 250px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #f2f2f2;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  cursor: pointer;
  color: #f1f1f1;
}

.title {
  color: rgba(0,123,191,1.0000000000);
  display: flex;
}

.hero {
  background-image: url("{{.Site.BaseURL}}img/newimagesheader.jpg");
  height: 350px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  box-shadow: 2px 0px 5px #333;
}

.flex-or-block {
  display: flex
}
@media (max-width: 767.98px) {
  .flex-or-block {
    display: block;
  }
}

.home-section {
  padding: 2em;
}

.btn {
/* <button class="py-2 px-4 bg-green-500 text-white font-semibold rounded-lg shadow-md hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-400 focus:ring-opacity-75"> */
  border-radius: 0.5rem;
  background-color: rgba(0,123,191,1.0000000000);
  text-decoration: none;
  color: #fff;
  /* shadow-md */
 --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
 box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.btn:hover {
  background-color: rgba(0,104,162,1.0000000000);
}

.btn-normal {
  background-color: rgba(0,123,191,1.0000000000);
  color: #fff;
  border: none;
  outline: none;
}

.btn-normal:hover {
  background-color: rgba(0,104,162,1.0000000000);
}

.card {
  background-color: white;
}

.card > img {
  max-width: 16rem;
}

@media (max-width: 767.98px) {
  .card > img {
    max-width: 20rem;
  }
}

.section-services {
  background-color: #f8f9fa;
}
.section-about {
  padding: 1rem 12rem;
}
.section-contact {
  padding: 1rem 12rem;
}

@media (max-width: 767.98px) {
  .section-about {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .section-contact {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.main footer {
  background-color: #f8f9fa;
}

.main footer a {
  color: rgba(0,123,191,1.0000000000);
  text-decoration: none;
}
