<!doctype html>
<html class="no-js" lang="en">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-FSXW3ZTS51"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-FSXW3ZTS51');
  </script>

  <meta charset="utf-8">
  <title>{{.Site.Title}}</title>
  <meta name="description" content="{{.Site.Params.description}}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="{{.Site.Title}}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{.Site.BaseURL}}">
  <meta property="og:image" content="{{.Site.BaseURL}}img/logo-150.png">
  <meta property="og:description" content="{{.Site.Params.description}}">
  <meta property="og:determiner" content="">
  <meta property="og:locale" content="en_US">
  <meta property="fb:app_id" content="113296066822580">
  <meta property="fb:app:id" content="113296066822580">

  {{ $manifest := resources.Get "site.webmanifest" | resources.ExecuteAsTemplate "site.webmanifest" . }}
  <link rel="manifest" href="{{ $manifest.Permalink }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{.Site.BaseURL}}apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{.Site.BaseURL}}favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{.Site.BaseURL}}favicon-16x16.png">

  {{ $normalize := resources.Get "css/normalize.css" | toCSS | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $normalize.Permalink }}">
  {{ $style := resources.Get "css/style.css" | resources.ExecuteAsTemplate "css/style.css" . | toCSS | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $style.Permalink }}">
  <link href="{{.Site.BaseURL}}fontawesome/css/all.min.css" rel="stylesheet">

  <meta name="theme-color" content="#fafafa">
</head>

<body>
  <!-- <nav class="topnav">
    <a onClick="document.getElementsByClassName('sidenav')[0].classList.toggle('open');">Menu</a>
    <a class="navbar-brand" href="#">New Images</a>
  </nav>

  <nav class="sidenav">
    <a onClick="document.getElementsByClassName('sidenav')[0].classList.toggle('open');">Close</a>
    <a href="#about">About</a>
    <a href="#contact">Contact</a>
  </nav> -->

  <div class="main">
    <div class="text-center py-4 title items-center justify-center">
      <img src="{{.Site.BaseURL}}img/logo-only.png" class="h-12">
      <h1 class="inline">NEW IMAGES<small>, INC</small></h1>
    </div>

    <div class="hero">
    </div>

    <div class="py-12 text-2xl text-center">{{.Site.Params.description}}</div>

    <div class="py-6 text-center">
        <a href="#contact" class="text-2xl px-10 py-6 rounded-lg shadow-md btn-normal no-underline inline-block"><i class="fas fa-envelope"></i>&nbsp;Contact Us</a>
    </div>

    <section id="services" class="section-services pb-12">
      <h3 class="py-6 text-3xl text-center">Services</h3>
      <div class="flex-or-block">
        <div class="flex-1 text-center">
          <div class="my-4 inline-block shadow-md rounded-lg text-center card">
            <img class="rounded-t-lg" src="{{.Site.BaseURL}}img/ryan-ancill-nGsVMkRatgM-unsplash.jpg">
            <div class="text-2xl py-4">Custom Homes</div>
          </div>
        </div>
        <div class="flex-1 text-center">
          <div class="my-4 inline-block shadow-md rounded-lg text-center card">
            <img class="rounded-t-lg" src="{{.Site.BaseURL}}img/jessie-mccall-a9_8YKoqIYo-unsplash.jpg">
            <div class="text-2xl py-4">Additions</div>
          </div>
        </div>
        <div class="flex-1 text-center">
          <div class="my-4 inline-block shadow-md rounded-lg text-center card">
            <img class="rounded-t-lg" src="{{.Site.BaseURL}}img/im3rd-media-HlJuQDBh3w4-unsplash.jpg">
            <div class="text-2xl py-4">Decks & Sheds</div>
          </div>
        </div>
      </div>
    </section>

    <section id="about" class="section-about">
      <h3 class="text-center text-3xl">About</h3>
      <div class="text-lg">
        <p>We have been in the home building industry for over 35 years. We create a unique build, paying attention not only to detail in cosmetic appeal, but also the quality of construction.</p>
        <p>We're here to serve you in Powhatan, Goochland, Chesterfield, Amelia, Cumberland, Farmville, Buckingham and the surrounding areas.</p>
        <p>Whether you're looking for your first home or your <strong>forever</strong> home, we would love to serve you!</p>
      </div>
    </section>

    <section id="contact" class="section-contact" style="background-image: url('{{.Site.BaseURL}}img/footer_lodyas.png'); background-repeat: repeat; color: white;">
      <h3 class="text-3xl text-center">Contact us</h3>
      <div class="px-2 text-center text-xl">
        <p>Have questions or looking for a quote?</p>
        <div class="py-4">
          <a href="tel:{{.Site.Params.tel}}" class="text-xl px-12 py-4 rounded-lg shadow-md btn-normal no-underline"><i class="fas fa-phone-alt"></i>&nbsp;Call Now</a>
        </div>
        <p>Or, send us a message:</p>
      </div>
      <div class="">
        <form
          action="https://formspree.io/f/xdopbpll"
          method="POST"
        >
          <div class="py-2">
            <input type="text" name="name" placeholder="Your Name" class="rounded-md block w-full p-4 text-lg box-border">
          </div>
          <div class="py-2">
            <input type="email" name="_replyto" placeholder="Your Email" class="rounded-md block w-full p-4 text-lg box-border">
          </div>
          <div class="py-2">
            <input type="tel" name="phone" placeholder="Your Phone" class="rounded-md block w-full p-4 text-lg box-border">
          </div>
          <div class="py-2">
            <textarea name="message" placeholder="Your Message" class="rounded-md block w-full p-4 text-lg box-border" rows="4"></textarea>
          </div>
          <div class="text-center py-2">
            <button type="submit" class="text-xl px-12 py-4 rounded-lg shadow-md btn-normal"><i class="fas fa-envelope"></i>&nbsp;Send Message</button>
          </div>
        </form>
      </div>
    </section>

    <footer class="text-center py-10">
      <div class="py-2"><a href="https://www.facebook.com/newimagesinc"><i class="fab fa-facebook-square text-xl"></i><br>Follow us on Facebook</a></div>
      <hr>
      <div class="text-sm">Copyright &copy; New Images, Inc. {{ now.Format "2006" }}</div>
    </footer>

  </div>

</html>
