<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="New Images, Inc.">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{.Site.BaseURL}}/">
  <meta property="og:image" content="{{.Site.BaseURL}}/img/logo-150.png">
  <meta property="og:description" content="We build quality homes in any price range!">
  <meta property="og:determiner" content="">
  <meta property="og:locale" content="en_US">
  <meta property="fb:app_id" content="113296066822580">
  <meta property="fb:app:id" content="113296066822580">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->

  {{ $normalize := resources.Get "css/normalize.css" | toCSS | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $normalize.Permalink }}">
  {{ $style := resources.Get "css/style.css" | resources.ExecuteAsTemplate "css/style.css" . | toCSS | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $style.Permalink }}">
  <link href="{{.Site.BaseURL}}/fontawesome/css/all.min.css" rel="stylesheet">

  <meta name="theme-color" content="#fafafa">
</head>

<body>
  <!-- <nav class="topnav">
    <a onClick="document.getElementsByClassName('sidenav')[0].classList.toggle('open');">Menu</a>
    <a class="navbar-brand" href="#">New Images</a>
  </nav>

  <nav class="sidenav">
    <a onClick="document.getElementsByClassName('sidenav')[0].classList.toggle('open');">Close</a>
    <a href="#about">About</a>
    <a href="#contact">Contact</a>
  </nav> -->

  <div class="main">
    <div class="hero">
      <div class="hero-text">
        <h1>New Images<small>, Inc.</small></h1>
      </div>
    </div>

    <div class="py-12 text-2xl text-center">We build quality homes in any price range!</div>

    <div class="py-12 text-center">
      <a class="btn text-4xl py-6 px-10" href="tel:+18042406305"><i class="fas fa-phone-alt"></i>&nbsp;Call Now</a>
    </div>

    <section class="flex py-12">
      <div class="flex-1 text-center card">
        <img class="max-w-sm rounded-lg" src="{{.Site.BaseURL}}/img/ryan-ancill-nGsVMkRatgM-unsplash.jpg">
        <div class="text-3xl py-4">Custom Homes</div>
      </div>
      <div class="flex-1 text-center card">
        <img class="max-w-sm rounded-lg" src="{{.Site.BaseURL}}/img/jessie-mccall-a9_8YKoqIYo-unsplash.jpg">
        <div class="text-3xl py-4">Additions</div>
      </div>
      <div class="flex-1 text-center card">
        <img class="max-w-sm rounded-lg" src="{{.Site.BaseURL}}/img/im3rd-media-HlJuQDBh3w4-unsplash.jpg">
        <div class="text-3xl py-4">Decks & Sheds</div>
      </div>
    </section>

    <div class="py-12 text-center">
      <a class="btn text-4xl py-6 px-10" href="tel:+18042406305"><i class="fas fa-phone-alt"></i>&nbsp;Call Now</a>
    </div>

    <section class="section-about">
      <h3>About us</h3>
      <p>We have been in the home building industry for over 35 years. We create a unique build, paying attention not only to detail in cosetic appeal, but also the quality of construction.</p>
      <p>We're here to serve you in Powhatan, Goochland, Chesterfield, Amelia, Cumberland, Farmville, Buckingham and the surrounding areas.</p>
      <p>Whether you're looking for your first home or your <strong>forever</strong> home, we would love to serve you!</p>
    </section>

    <footer class="px-12 py-12 text-center">
      <p><a href="https://www.facebook.com/newimagesinc"><i class="fab fa-facebook-square"></i>&nbsp;Follow us on Facebook</a></p>
      <p><a href="tel:+18042406305"><i class="fas fa-phone-alt"></i>&nbsp;Call us today</a></p>
      <hr>
      Copyright &copy; New Images, Inc. {{ now.Format "2006" }}
    </footer>

  </div>

  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
  <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto'); ga('set', 'anonymizeIp', true); ga('set', 'transport', 'beacon'); ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async></script>
</body>

</html>
